@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda&display=swap');

* {
    box-sizing: border-box;
  }
/* Anything smaller than first breakpoint 600px */
.container {
    border: 3px solid black;
  }
  
  .navbar{
      grid-area: nav;
      max-height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background-color: #250807;
  }

  .navbar * {
    font:  40px 'Mystery Quest', cursive;
    color: #fae6e0;
    text-decoration: none;
}

#recs{
    margin-right: auto;
    padding-left: 20px;
    }
    
.navbar .gg-coffee {
        margin-left: 50px;
        height: 20px;
        width: 25px;
}
    
#home{
        padding-right: 50px;
}

.top {
    width: 100%;
    grid-area: tp;
    justify-content: center;
    padding: 15px;
}

.top h1{
    text-align: center;
    font: 40px 'Mystery Quest', cursive;
    text-shadow: 2px 2px 5px #6d6561;

}

#picone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 45%;
    height: 350px;
    border: 1px solid #F4F0EE;
    filter: drop-shadow(10px 10px 4px #e4cab8);
}

.main{
    border: 5px solid #5b3c43;
    margin: 5px;
    margin-left: 55px;
    padding: 5px;
    width: 90%;
}


#pictwo {
    display: block;
    margin-left: 500px;
    width: 45%;
    height: 250px;
    border: 1px solid #F4F0EE;
    filter: drop-shadow(10px 10px 4px #e4cab8);
}

#picthree {
    display: block;
    margin-left: 15px;
    width: 55%;
    border: 1px solid #F4F0EE;
    filter: drop-shadow(10px 10px 4px #e4cab8);
}

#picfour {
    display: block;
    margin-bottom: 1%;
    margin-left: 500px;
    width: 40%;
    border: 1px solid #F4F0EE;
    filter: drop-shadow(10px 10px 4px #e4cab8);
}


p{
    display: block;
    width: 50%;
    height: 210px;
    border: 1px solid #1D2129;
    background-color: #F4F0EE;
    filter: drop-shadow(5px 5px 4px #e4cab8);
}

#pone{
    font: 100;
    margin-left: 15px;
}

#ptwo{
    margin-left: 500px;
    font-family: 'Thasadith', sans-serif;
}

#pthree{
   margin-left: 60px;
    font-family: 'Buda', cursive;
}

.sub{
    grid-area: sub;
    width: 100%
   
}
.sub > p{
    height: 30vh;
    margin-left: 330px;
}

.sub > h1, h2, h3 {
    font-family: 'Elsie', cursive;
    margin-left: 550px;
}

.sub img {
    width: 30%;
    margin-left: 450px;
}

.footer{
    grid-area: ft;
    display:flex;
    flex-direction: row;
    border: 1px solid #6d6561;
    background-color: #250807;
    padding-left: 30px;
    color: #fae6e0;
}

@media (min-width: 600px) and (max-width:1190px) {
    .container {
        border: 3px solid #5b3c43;
    }

    .navbar{
      max-height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background-color: #250807;
    }

    .navbar *{
       font-size: 100%;
    }
    
    .top {
        justify-content: center;
        padding: 15px;
    }
    
    .top h1{
        text-align: center;
        height: 30px;
        text-shadow: 2px 2px 5px #6d6561;
    
    }
    
    #picone {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 60%;
        height: 300px;
        border: 1px solid #F4F0EE;
        filter: drop-shadow(10px 10px 4px #e4cab8);
    }
    
    .main{
        width: 97%;
        grid-area: main;
        border: 5px solid #5b3c43;
        margin: 5px;
        margin-left:20px;
        padding-left: 50px;
        
    }
    
    
    #pictwo {
        
        display: block;
        margin-left: 100px;
        padding: 20px;
        width: 60%;
        
        border: 1px solid #F4F0EE;
        filter: drop-shadow(10px 10px 4px #e4cab8);
    }
    
    #picthree {
        
        display: block;
        margin-left: 5px;
        padding: 20px;
        width: 60%;
       
        border: 1px solid #F4F0EE;
        filter: drop-shadow(10px 10px 4px #e4cab8);
    }

    
    
    #picfour {
        
        display: block;
        margin-left: 100px;
        
        padding: 20px;
        width: 60%;
        
        border: 1px solid #F4F0EE;
        filter: drop-shadow(10px 10px 4px #e4cab8);
    }
    
    
    img {
    
        display: block;
        height: 260px;
        border: 1px solid #F4F0EE;
        filter: drop-shadow(10px 10px 4px #e4cab8);
    }
    
     p{
        display: block;
        width: 100%;
        margin-right: auto;
        height: 210px;
        border: 1px solid #1D2129;
        background-color: #F4F0EE;
        filter: drop-shadow(5px 5px 4px #e4cab8);
    }

   
p{
    display: block;
    width: 50%;
    height: 210px;
    border: 1px solid #1D2129;
    background-color: #F4F0EE;
    filter: drop-shadow(5px 5px 4px #e4cab8);
}

#pone{
    margin-left: 5px;
    font-size: small;
}

#ptwo{
    margin-left: 200px;
    font-family: 'Thasadith', sans-serif;
}

#pthree{
   margin-left: 40px;
    font-family: 'Buda', cursive;
}

.sub{
    width: 100%;
   
}
.sub > p{
    height: 30vh;
    margin-left: 150px;
}

.sub > h1, h2, h3 {
    font-family: 'Elsie', cursive;
    margin-left: 180px;
}

.sub img {
    width: 30%;
    margin-left: 200px;
}

.footer{
    grid-area: ft;
    display:flex;
    flex-direction: row;
    border: 1px solid #6d6561;
    background-color: #250807;
    padding-left: 30px;
    color: #fae6e0;
}
}

@media (max-width:599px) {
    .container {
         border: 0.5px solid #6d6561;
     
    }

   
    .navbar{
        max-height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #250807;
      }
  
      .navbar *{
         font-size: 80%;
      }

      #recs{
        margin-left: 20px;
        }
        
   
      
      #home{
          margin-left: 100px;;
      }
      
      .top {
          justify-content: center;
          padding: 15px;
      }
      
      .top h1{
          text-align: center;
          height: 30px;
          text-shadow: 2px 2px 5px #6d6561;
      
      }
      
      #picone {
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding: 20px;
          width: 100%;
          height: 250px;
          border: 1px solid #F4F0EE;
          filter: drop-shadow(10px 10px 4px #e4cab8);
      }
      
      .main{
          width: 97%;
          grid-area: main;
          border: 5px solid #5b3c43;
          margin: 5px;
          margin-left:5px;
          padding-left: 50px;
          
      }
      
      
      #pictwo {
          
          display: block;
          margin-left: -10px;
          padding: 20px;
          width: 90%;
          
          border: 1px solid #F4F0EE;
          filter: drop-shadow(10px 10px 4px #e4cab8);
      }
      
      #picthree {
          
          display: block;
          margin-left: -20px;
          padding: 20px;
          width: 100%;
         
          border: 1px solid #F4F0EE;
          filter: drop-shadow(10px 10px 4px #e4cab8);
      }
  
      
      
      #picfour {
          
          display: block;
          margin-left: -30px;
          
          padding: 20px;
          width: 100%;
          
          border: 1px solid #F4F0EE;
          filter: drop-shadow(10px 10px 4px #e4cab8);
      }
      
      
      img {
      
          display: block;
          height: 260px;
          border: 1px solid #F4F0EE;
          filter: drop-shadow(10px 10px 4px #e4cab8);
      }
      
       p{
          display: block;
          width: 100%;
          margin-right: auto;
          height: 210px;
          border: 1px solid #1D2129;
          background-color: #F4F0EE;
          filter: drop-shadow(5px 5px 4px #e4cab8);
      }
  
     
  p{
      display: block;
      width: 100%;
      height: 210px;
      border: 1px solid #1D2129;
      background-color: #F4F0EE;
      filter: drop-shadow(5px 5px 4px #e4cab8);
  }
  
  #pone{
      margin-left: -20px;
      font-size: small;
  }
  
  #ptwo{
      margin-left: -20px;
      font-family: 'Thasadith', sans-serif;
  }
  
  #pthree{
     margin-left: -20px;
      font-family: 'Buda', cursive;
  }
  
  .sub{
      width: 100%;
     
  }
  .sub > p{
      width: 90%;
      height: 30vh;
      margin-left: 15px;
  }
  
  .sub > h1, h2, h3 {
      font-family: 'Elsie', cursive;
      margin-left: 80px;
  }
  
  .sub img {
      width: 90%;
      margin-left: 15px;
  }
  
  .footer{
      grid-area: ft;
      display:flex;
      flex-direction: row;
      border: 1px solid #6d6561;
      background-color: #250807;
      padding-left: 30px;
      color: #fae6e0;
  }
  }